<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post">
        <input id="fio" name="fio" type="text" placeholder="Введите ФИО">
        <input id="serial" name="serial" type="text" placeholder="Введите серию и номер диплома">
        <input id="date" name="date" type="date" placeholder="Введите дату выдачи">
        <button type="submit">Добавить</button>
    </form>
    <h1>{{fio}}</h1>
</body>

</html>