<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Список дипломов</h1>
    <table>
        <thead>
            <tr>
                <th>Номер</th>
                <th>ФИО</th>
                <th>Диплом</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for diplom in diplomas %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ diplom[0] }}</td>
                <td>{{ diplom[1] }}</td>
                <td>{{ diplom[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>