<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Diploma</title>
</head>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        getAccount()
    });

    getAccount = async () => {
        const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
        const account = accounts[0];
        document.querySelector('#address').innerHTML = account;
    }
</script>

<body>
    <header>
        <div class="logo"><span class="logo-image"></span><span>Блокчейн система проверки и добавления дипломов</span>
        </div>
    </header>
    <div class="wallet">
        <div class="wallet-inside">
            <h3>Ваш кошелек:</h3>
            <span id="address"></span>
        </div>
    </div>
    <div class="main-img">
    </div>
    <div class="actions">
        <a class="btn" href="/inquire_diploma">Проверить диплом</a>
        <a class="btn" href="/adddiploma">Добавить диплом</a>
        <a class="btn" href="/getbalance">Баланс</a>
        <a class="btn" href="/getemployees">Список сотрудников</a>
    </div>
    <div class="actions">
        <a class="btn" href="/diplomaslist">Список полученных дипломов</a>
        <a class="btn" href="">Добавить сотрудников</a>
        <a class="btn" href="">Удалить сотрудника</a>
        <a class="btn" href="/getowner">Владелец контракта</a>
    </div>
</body>

</html>