body {
  font-family: "Montserrat", sans-serif;
  background-color: #6096ff;
}
header {
  display: flex;
  padding: 0px 20px;
  background-color: #778399;
  font-weight: 500;
  font-size: 26px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-image {
  display: block;
  background-image: url("../img/diploma-svgrepo-com.svg");
  background-size: cover;
  width: 80px;
  height: 80px;
}
.wallet {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
.main-img {
  background-size: 200%;
  background-image: url("../img/scontract.svg");
  background-position: center center;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}
.actions {
  display: flex;
  justify-content: space-around;
  margin: 50px 50px;
}

.actions a {
  font-weight: 500;
  padding: 20px;
  background-color: #c4c4c4;
  border-radius: 10px;
  color: #000000;
  text-decoration: none;
}
