body {
  background-color: #6096ff;
}
.wallet {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
.main-img {
  background-size: 200%;
  background-image: url("../img/scontract.svg");
  background-position: center center;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}
.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.inquirediploma-input {
  max-width: 400px;
}
.center {
  display: flex;
  justify-content: center;
}
.adddiploma-form {
  max-width: 700px;
}
.adddiploma-input {
  width: 500px;
}